name: Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        neovim: ['stable', 'nightly']
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim }}
      
      - name: Install dependencies
        run: |
          mkdir -p deps
          git clone --depth 1 https://github.com/nvim-lua/plenary.nvim deps/plenary.nvim
      
      - name: Run tests
        run: |
          nvim --version
          make test
      
      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.neovim }}
          path: |
            nvim-agent.log
            tests/*.log
